<style>
    ul li i {
        color: #fff;
        ;
    }
</style>
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-info">



    <ul class="navbar-nav ml-auto text-left">
        <li class="nav-item  ">
            <a class=" btn  bg-gradient-warning btn-sm ml-3 " [routerLink]="['/pagina/orders']" style="color:#fff">
                Orders
            </a>
        </li>
        <li class="nav-item ">
            <a class=" btn  bg-gradient-indigo btn-sm ml-3" [routerLink]="['/pagina/product']" style="color:#fff">
               Product
            </a>
        </li>
        <li class="nav-item  ">
            <a class=" btn  bg-gradient-success btn-sm ml-3" [routerLink]="['/pagina/client']" style="color:#fff">
            Client
            </a>
        </li>

    </ul>
</nav>